/* CSS */

/************ Fonts **************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/************ Universal **************/
html, body {
  height:100%;
}

body {
  font-family:Roboto, Arial, sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin:0;
  padding:0;
  vertical-align: baseline;
	background: transparent;
}

a {
  text-decoration: none;
  color: rgb(63, 56, 56);
  transition: color 0.25s;
}

a:hover {
  color:gray;
}

/************ Header **************/
header {
  width: 100%;
  height:100%;
}

header img {
  width: 100%;
  height:100%;
  object-fit: cover;
  opacity: 0.6;
  position: relative;
}

header .heading {
  position: absolute;
  z-index: 4;
  font-size: 40px;
  color:rgb(61, 52, 52);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .heading h1 {
  font-weight:300;
  text-align: center;
}

/************ Header Nav **************/

#desktopnav {
  position: fixed;
  width:100%;
  z-index: 10;
  color: rgb(63, 56, 56);
  padding-top: 15px;
  background-color: rgb(243, 234, 234);
  padding-bottom: 15px;
  box-shadow: 0px 1px 10px gray;
}

#desktopnav ul {
  display: flex;
  text-align: center;
  grid-gap: 75px;
  font-size: 20px;
  justify-content: center;
  z-index: 10;
}

#desktopnav ul li {
  list-style-type: none;
}

@media (max-width:700px) {
  #desktopnav {
    display: none;
  }
}


/************ Main Home Page **************/

main {
  /* height:100%; */
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .intro {
  height:300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

main .intro p {
  max-width:1200px;
  color:gray
}

main .threecol {
  height:500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1600px;
  grid-gap: 50px;
  padding:10px;
}

main .threecol section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width:800px) {
  main .threecol {
    grid-template-columns: 1fr;
    grid-gap:0;
    padding:30px;
  }
}

/* Home Page Dividers */
.divider {
  width:100%;
  height:300px;
  position: relative;
  text-align: center;
}

.divider img {
  width:100%;
  height:300px;
  object-fit: cover;
}

.divider section {
  z-index: 4;
  font-size: 40px;
  color:rgb(61, 52, 52);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.divider section h1 {
  font-weight:300;
  text-align: center;
}

/* .divider hr {
  margin-left: 20px;
  margin-right: 20px;
  color:gray;
} */

/************ Mobile Menu **************/

.menuicon {
  display: inline-block;
  cursor: pointer;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

header .menuicon {
  left:-100%;
  transition: 0.5s;
}

header .menuicon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

#mobilenav {
  height:100%;
  width:100%;
  /* display: none; */
  z-index: 9;
  background-color:lightgray;
  position: absolute;
  transition: top 0.5s;
}

#mobilenav ul {
  display:flex;
  flex-direction: column;
  grid-gap:20px;
  padding:10px;
  margin-top:50px;
}

#mobilenav ul li { list-style-type: none; }

@media (max-width: 700px) {
  header .menuicon {
    left:0;
    position: fixed;
    z-index:10;
    padding:10px;
  }
}

@media (min-width:700px) {
  header #mobilenav { display:none; }
  header .menuicon { display: none; }
}

/************** Footer **************/
footer {
  
}

footer img {
  height:500px;
  width:100%;
  object-fit: cover;
  position: relative;
  bottom:-5px;
}